<%- include("partials/header"); %>
    <div class="events">
        <div class="events__top">
            <h1 data-aos="fade-right">SOCH Events 🎉</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h6 data-aos="fade-right">
                We are always looking forward to bringing the best for art and writing enthusiasts! 😀
            </h6>
            <div class="emoji_container">
                <img loading="lazy" class="emoji-1" src="Assets/emoji (1).png" alt="">
                <img loading="lazy" class="emoji-2" src="Assets/emoji (2).png" alt="">
                <img loading="lazy" class="emoji-3" src="Assets/emoji (3).png" alt="">
            </div>
        </div>

        <div class="outer-calendar">
            <h1 data-aos="fade-right">Our Calendar</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h4 data-aos="fade-right">Here is our calendar with all the events listed.</h4>
            <div data-aos="zoom-in-up" id="calendar"></div>
        </div>
        <!-- <hr class="hr-text" data-content=""></hr> -->
        <h1 data-aos="fade-right">Our Events</h1>
        <div data-aos="fade-right" class="underline"></div>
        <h4 data-aos="fade-right">Know more about our recent & past held events.</h4>
        <div class="event_container">
            <% events.forEach(event => { %>
                <div data-aos="fade-down" class="item-container">
                    <div class="img-container">
                        <img loading="lazy" src="https://drive.google.com/uc?export=view&id=<%= event.poster%>" alt="Event image" />
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title"><%= event.title %></p>
                            <div class="separator"></div>
                            <p class="info"><%= event.desc %></p>
                            <p class="price">
                                <% if(event.fee !=0) { %>
                                    &#8377 <%= event.fee %>
                                    <% } else { %>
                                        Free
                                        <% } %>
                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <%= event.venue %>
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    <%= event.schedule %>
                                </p>
                            </div>
                        </div>
                        <button class="action" onclick="location.href='<%= event.link %>';">Register</button>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <%- include("partials/footer"); %>